%div{:class => 'navbar navbar-inverse navbar-fixed-top'}
  %div.navbar-inner
    %ul.nav
      %li
        %img{:src => "/assets/rhino.png", alt: "Rhino"}
      %li.active
        %a{:href => root_path} Monitors
      %li
        %a{:href => "#"} Settings

      
